*.rbc
*.sassc
.sass-cache
capybara-*.html
.ruby-version
.ruby-gemset
.idea
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
**.orig
rerun.txt
/config/database.yml
/config/env_vars_development.yml
/config/env_vars_test.yml
/config/env_vars_production.yml
/config/env_vars_staging.yml